<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username"/>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.connection.url"/>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- Show SQL which is useful during dev, but noisy in production-->
        <property name="hibernate.show_sql">true</property>
        <!-- Choose to start fresh, or update -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.revature.beans.Cave"/>
        <mapping class="com.revature.beans.BearType"/>
        <mapping class="com.revature.beans.Bear"/>
        <mapping class="com.revature.beans.Beehive"/>
        <mapping class="com.revature.beans.Person"/>
        <mapping class="com.revature.beans.Alignment"/>
    </session-factory>
</hibernate-configuration>